*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#page-1{
    width: 100%;
    height: 100vh;
    background-color: rgb(128, 124, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-2{
    width: 100%;
    height: 100vh;
    background-color: rgb(116, 215, 239);
}

#page-3{
    width: 100%;
    height: 100vh;
    background-color: rgb(53, 107, 146);
}

#page-1 img{
    height: 580px;
    /* width: 350px; */
    object-fit: cover;
    object-position: center;
}